@import url("https://use.typekit.net/dfk4oit.css");

p {
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
}

.load {
  animation-name: loadIng;
  animation-delay: 3s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  font-size: 16pt;
}

a{
  text-decoration-color: white;

}

a:visited {
  text-decoration-style: underline;
  text-decoration-color: white;
  color: black;
}

a:hover {
  color: blue;
  transform: skewX(-5deg);
  transition-duration: .15s;
}

.go:link {
  /* animation-name: fadeIn; */
  animation-name: clrChange;
  animation-delay: 0s;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  text-decoration-color: white;
  color: black;
}

@keyframes loadIng {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes clrChange {
  0% {
    color: white;
  }

  /* 20% {
    color: white;
  } */
  40% {
    color: blue;
  }

  100% {
    color: black;
  }
}

.source {
  font-family: arial;
  font-size: 10pt;
}

/*
.container{
  display:grid;
  grid-template-areas:
  "source space space space space"
  "space space haiku space space"
  "space space haiku space space"
  "space space space space go"

} */
.container {
  width: inherit;
  height: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.haiku {
  padding: 100px 50px 100px 100px;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.source {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
